# Loại bỏ thư mục thư viện của Composer
/vendor/

# Loại bỏ các file cấu hình môi trường chứa mật khẩu/API key
.env
.env.local

# Loại bỏ các file rác của hệ điều hành
Thumbs.db
.DS_Store

# Loại bỏ file log và cache
*.log
/storage/*.php